*, 
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.submit-post-button{
  justify-content: center;
}
.addposts{
  border: solid 1px rgb(235, 3, 3);
}

.posts{
  border: solid 1px rgb(182, 26, 234);
}
.post{
  border : 3px solid rgb(9, 7, 8);
}
.posts{
  max-height: 25%;
  background-color: rgb(248, 206, 206);
  border : 3px solid blue;
}

.header{
  flex-direction: row;
  align-items: center;
  justify-content: center !important;
} 

