


body {
 
  background: radial-gradient(ellipse at center, #ffff32 0%,#32ce27 33%,#ff00ff 62%,#f8c740 92%); 
  background-size: 25%;
  background-position: center center;
  animation: bgsize 12s ease-in-out infinite;
}

@keyframes bgsize {
  50% {
    background-size: 200%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
